# Reference folder - ignored by everything
.reference/

# SonicJS specific
sonic-cms/.wrangler/
sonic-cms/.open-next/
sonic-cms/dist/
sonic-cms/.turbo/
sonic-cms/.next/
sonic-cms/node_modules/
sonic-cms/.env
sonic-cms/.dev.vars